.refresh-button-mobile {
    display: none;
}

.refresh-button-desktop {
    height: 60px;
    font-size: 20px;
    border: 0;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    color: #748488;
    background-color: #c9d2d7;
    border-radius: 12px;
}

.heading-text {
    margin: 10px;
}

.big-icon-weather {
    display: none;
    height: 200px;
    width: 200px;
}

.wind,
.cloudy,
.pressure,
.humidity,
.coordinates {
    display: flex;
    margin: 10px;
    justify-content: space-between;
    background-color: #a8afb0;
    color: white;
    padding: 0.5em;
    box-sizing: border-box;
    font-size: 25px;
}

.type-param {
    font-weight: bold;
    margin-right: 20px;
}

.favorites {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: auto;
    margin-top: auto;
    color: #78868a;
}

.add-card {
    text-align: right;
    margin: auto 10px;
}

.add-button {
    background: white;
    border: 0;
    height: 60px;
    width: 60px;
    margin-bottom: auto;
    margin-top: auto;
}

.list-cards {
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    list-style-type: none;
    grid-column-start: 1;
    grid-column-end: 3;
    column-gap: 60px;
    grid-template-areas:
        "card card";
}

.card {
    position: relative;
    vertical-align: bottom;
}

.delete {
    background: white;
    border: 0;
    height: 60px;
    width: 60px;
}

.icon-weather {
    display: none;
    height: 50px;
    width: 70px;
}

.temperature {
    display: none;
    color: #848484;
    font-size: 40px;
    vertical-align: bottom;
}

.add-text {
    font-size: 25px;
    padding-left: 10px;
    vertical-align: top;
    height: 60px;
    width: 300px;
}

.data {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}

.name {
    color: #848484;
    font-size: 40px;
    font-weight: bold;
}

.big-name {
    display: none;
    color: #848484;
    font-size: 60px;
    margin: 10px;
}

.big-temperature {
    display: none;
    color: #848484;
    font-size: 100px;
}

.list-params {
    padding: 0;
    margin: 0;
}

.card-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
    gap: 30px;
}

.name,
.icon-weather,
.temperature,
.delete {
    margin-top: auto;
    margin-bottom: 0;
}

.heading {
    max-width: 1080px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 30px;
    color: #848484;
    padding: 0;
    text-align: left;
}

.body {
    color: gray;
    max-width: 1080px;
    margin: auto;
    display: grid;
}

.container {
    max-width: 1080px;
    display: grid;
    text-align: left;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-template-areas:
        "loadInform loadInform"
        "big-card-city big-card-params"
        "favorites add-card"
        "list-cards list-cards";
}

.card-city,
.big-card-params,
.big-card-city {
    display: none;
}

.refresh-image {
    height: 60px;
    width: 60px;
    margin: auto;
    text-align: center;
}

.inform {
    display: block;
}

.loadInform {
    font-size: 60px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 10px 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-areas:
        "inform"
        "refresh-image";
}

.loadInformCard {
    font-size: 30px;
    display: grid;
    text-align: center;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 100px 1fr;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-template-areas:
        "inform"
        "refresh-image";
}

.card-params {
    display: none;
}

@media all and (max-width: 1000px) {

    .refresh-button-mobile {
        display: inline;
        height: 80px;
        width: 80px;
        background: white;
        border: 0;
        margin: auto 15px;
        float: right;
    }

    .refresh-button-desktop {
        display: none;
    }

    .add-card {
        display: flex;
        flex-direction: row;
    }

    .add-text {
        flex: 1;
        font-size: 25px;
        padding-left: 10px;
    }

    .add-button {
        flex: none;
        background: white;
        border: 0;
        height: 60px;
        width: 60px;
    }

    .list-cards {
        display: contents;
    }

    .body {
        max-width: 1080px;
        margin: auto;
        display: grid;
        color: #848484;
        text-align: left;
    }

    .card-title {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin: 10px;
        gap: 20px;
    }

    .container {
        display: block;
    }
}

img {
    width: 100%;
    height: auto;
}